## Proxy setup
systemProp.proxySet="true"
systemProp.http.keepAlive="true"
systemProp.http.proxyHost=127.0.0.1
systemProp.http.proxyPort=3128
#systemProp.http.proxyUser=username
#systemProp.http.proxyPassword=password
systemProp.http.nonProxyHosts=local.domain

systemProp.https.keepAlive="true"
systemProp.https.proxyHost=127.0.0.1
systemProp.https.proxyPort=3128
#systemProp.https.proxyUser=username
#systemProp.https.proxyPassword=password
systemProp.https.nonProxyHosts=local.domain